{% extends app['devture_error.views']['layout'] %}

{% block devture_error_message_content %}
	<p>{{ "devture_error.401"|trans }}</p>
	<p>{{ "devture_error.may_back_reload_and_retry"|trans }}</p>
{% endblock %}
