{% extends layout %}

{% block content %}
	{% block devture_error_content %}
		<div class="alert alert-danger">
			{% block devture_error_message_content %}{% endblock %}
		</div>
	{% endblock %}
{% endblock %}
